
/.vscode
/release
/release-64
Plugins/ColorConsole.dll.exp
Plugins/ColorConsole.dll.lib
Plugins/ColorConsole.pdb
Plugins/HTMLToMarkdownRust/Cargo.lock
Plugins/HTMLToMarkdownRust/target/CACHEDIR.TAG
Plugins/HTMLToMarkdownRust/target/release/.cargo-lock
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/aho-corasick-1179579851adf2d8/dep-lib-aho_corasick
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/aho-corasick-1179579851adf2d8/invoked.timestamp
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/aho-corasick-1179579851adf2d8/lib-aho_corasick
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/aho-corasick-1179579851adf2d8/lib-aho_corasick.json
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/cc-b59c233d83e2aafa/dep-lib-cc
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/cc-b59c233d83e2aafa/invoked.timestamp
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/cc-b59c233d83e2aafa/lib-cc
Plugins/HTMLToMarkdownRust/target/release/.fingerprint/cc-b59c233d83e2aafa/lib-cc.json
/Plugins/HTMLToMarkdownRust/target
/Plugins/ReadPDF/target
Plugins/ReadPDF/Cargo.lock
error.log
/Plugins/Speak/target
Plugins/Speak/Cargo.lock
Plugins/GUICPP/XGUI.dll.manifest
Plugins/GUICPP/XGUI.dll.manifest
Plugins/GUICPP/XGUI-hold.cpp
Plugins/GUICPP/XGUI.cpp-new
/Archive
/Releases
XojoDevKit-Windows/xojodevkit.zip
Plugins/ColorConsole.dll
/AgentTeamApprovals
